<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calculadora de riego o falla</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3> <H1 align="center"> Cálculo del riesgo o falla</H1>  <br> Autores: <br> Bach.Soto.O.R <br>Lic.Perez.T.J
        
      </h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">
        <label for="Number One">Periodo de retorno (Años)</label>
        <input
          type="text"
          placeholder="Ingresar periodo de retorno(T)"
          class="u-full-width"
          name="num1"
        />

        <label for="Number Two">Vida útil del proyecto(Años)</label>
        <input
          type="text"
          placeholder="Ingrese vida útil(n)"
          class="u-full-width"
          name="num2"
        />

      
<!-- 
        <label for="Operation">Cálculo del riesgo o falla</label>
        <select class="u-full-width" name="operation">
          <option value="add">Valor =</option>
        </select>
        -->

        <input type="submit" value="El riesgo es:" id="calc_btn" />
        <br />
        <div class="alert">
          {{ sum }}
        </div>
      </form>
    </div>
  </body>
</html>